In [2]:
import pandas as pd
import numpy as np

# api 목적:
### 무신사 크롤링을 통해
#### 10월 옷 카테고리별 ( 아우터, 상의, 팬츠, 신발, 모자, 속옷, 양말) 가장 많이 구매한 상품 도출

## 업무분배:
#### 데이터 크롤링 - 지예
#### 데이터 전처리 - 지예, 창언, 혜성
#### 데이터 시각화 - 은성
#### 발표 - 창언

In [3]:
# csv파일 불러오기
df1 = pd.read_csv('product_nameprice.csv',encoding='cp949')
df1

     Unnamed: 0                                             상품명        가격
0             0                  (22FW) 2 TONE ARCH HOODIE GRAY   67,150원
1             1                                원턱 와이드 스웨트팬츠 그레이   36,400원
2             2                Deep One Tuck Sweat Pants [Grey]   39,000원
3             3                    2WAY 스웻 후드 집업 (MELANGE GREY)   42,000원
4             4                                레플리카 퍼티그 팬츠 [카키]   43,900원
..          ...                                             ...       ...
895         895                              리버서블 푸퍼_SPJDC4VC14   89,900원
896         896                        NSW 클럽 트레이닝바지 BV2714-010   62,000원
897         897  N224WFJ910 여성 코스토니 플리스 뽀글이 후드 풀집업 CARBON BLACK  159,000원
898         898                                스웨트 팬츠 [멜란지 그레이]   31,900원
899         899                oam.factory X PLAC  스텝 M22 미드 블루   89,000원

[900 rows x 3 columns]

In [118]:
# drop 함수 파라미터인 axis이용해서 필요없는 열 삭제
df1.drop('Unnamed: 0',axis=1, inplace=True)
df1

                                                상품명        가격
0                    (22FW) 2 TONE ARCH HOODIE GRAY   67,150원
1                                  원턱 와이드 스웨트팬츠 그레이   36,400원
2                  Deep One Tuck Sweat Pants [Grey]   39,000원
3                      2WAY 스웻 후드 집업 (MELANGE GREY)   42,000원
4                                  레플리카 퍼티그 팬츠 [카키]   43,900원
..                                              ...       ...
895                              리버서블 푸퍼_SPJDC4VC14   89,900원
896                        NSW 클럽 트레이닝바지 BV2714-010   62,000원
897  N224WFJ910 여성 코스토니 플리스 뽀글이 후드 풀집업 CARBON BLACK  159,000원
898                                스웨트 팬츠 [멜란지 그레이]   31,900원
899                oam.factory X PLAC  스텝 M22 미드 블루   89,000원

[900 rows x 2 columns]

In [7]:
# 품목별판매량
subs = pd.DataFrame(np.arange(6).reshape(1, 6),
                 index=['품목별판매량'],
                 columns=['아우터', '상의', '하의','기타','한벌옷','신발'])
subs

        아우터  상의  하의  기타  한벌옷  신발
품목별판매량    0   1   2   3    4   5

In [5]:
# 가격별판매량
sbp = pd.DataFrame(np.arange(5).reshape(1, 5),
                 index=['가격별판매량'],
                 columns=['5만원이하','5만초과~10만이하', '10만초과~15만이하', '15만초과~20만이하','20만초과'])
sbp

        5만원이하  5만초과~10만이하  10만초과~15만이하  15만초과~20만이하  20만초과
가격별판매량      0           1            2            3      4

In [174]:
# 하의 수
pants = df1[df1['상품명'].str.contains('JEANS')|df1['상품명'].str.contains('슬랙스')|df1['상품명'].str.contains('팬츠')|df1['상품명'].str.contains('Pants')|df1['상품명'].str.contains('Cowboy')|df1['상품명'].str.contains('조거')|df1['상품명'].str.contains('jogger')|df1['상품명'].str.contains('Forik')|df1['상품명'].str.contains('fit')|df1['상품명'].str.contains('플랙')]
print(len(pants))

124

In [185]:
# 아우터 수
outer = df1[df1['상품명'].str.contains('자켓')|df1['상품명'].str.contains('슬라이드')|df1['상품명'].str.contains('점퍼')|df1['상품명'].str.contains('블레이저')|df1['상품명'].str.contains('블루종')|df1['상품명'].str.contains('파카')|df1['상품명'].str.contains('코트')|df1['상품명'].str.contains('COAT')|df1['상품명'].str.contains('푸퍼')|df1['상품명'].str.contains('JACKET')|df1['상품명'].str.contains('패딩')|df1['상품명'].str.contains('가디건')|df1['상품명'].str.contains('MA-1')|df1['상품명'].str.contains('parka')|df1['상품명'].str.contains('저지')|df1['상품명'].str.contains('덕다운')|df1['상품명'].str.contains('DUCK')|df1['상품명'].str.contains('jacket')|df1['상품명'].str.contains('아노락')|df1['상품명'].str.contains('파카')|df1['상품명'].str.contains('Parka')|df1['상품명'].str.contains('DOWN')]
len(outer)

259

In [186]:
# 상의 수
shirt = df1[df1['상품명'].str.contains('HOODIE')|df1['상품명'].str.contains('NIT')|df1['상품명'].str.contains('후드')|df1['상품명'].str.contains('니트')|df1['상품명'].str.contains('집업')|df1['상품명'].str.contains('맨투맨')|df1['상품명'].str.contains('반팔')|df1['상품명'].str.contains('티셔츠')|df1['상품명'].str.contains('셔츠')|df1['상품명'].str.contains('가디건')|df1['상품명'].str.contains('Sweat')|df1['상품명'].str.contains('티')|df1['상품명'].str.contains('ZIP UP')]
len(shirt)

339

In [187]:
# 한벌옷 수
setup = df1[df1['상품명'].str.contains('셋업')]
print(len(setup))

14

In [193]:
# 기타(가방,양말,속옷,모자)
etc = df1[df1['상품명'].str.contains('백')|df1['상품명'].str.contains('삭스')|df1['상품명'].str.contains('팬티')|df1['상품명'].str.contains('드로즈')|df1['상품명'].str.contains('모자')|df1['상품명'].str.contains('캡')|df1['상품명'].str.contains('cap')|df1['상품명'].str.contains('pack')|df1['상품명'].str.contains('bag')|df1['상품명'].str.contains('아미')|df1['상품명'].str.contains('WALLET')|df1['상품명'].str.contains('BUCKET')|df1['상품명'].str.contains('벤트')|df1['상품명'].str.contains('Turn')|df1['상품명'].str.contains('비니')|df1['상품명'].str.contains('빅볼')|df1['상품명'].str.contains('GLASS')]
len(etc)

50

In [194]:
# 신발 수
shoes= df1[df1['상품명'].str.contains('척 70')|df1['상품명'].str.contains('더비')|df1['상품명'].str.contains('올드스쿨')|df1['상품명'].str.contains('슈퍼스타')|df1['상품명'].str.contains('첼시')|df1['상품명'].str.contains('젤')|df1['상품명'].str.contains('슈즈')|df1['상품명'].str.contains('스타일 36')|df1['상품명'].str.contains('데이브레이크')|df1['상품명'].str.contains('운동화')|df1['상품명'].str.contains('오즈위고')|df1['상품명'].str.contains('스니커즈')|df1['상품명'].str.contains('슬라이드')|df1['상품명'].str.contains('BW')|df1['상품명'].str.contains('어센틱')|df1['상품명'].str.contains('1461')|df1['상품명'].str.contains('xt-6')|df1['상품명'].str.contains('파스텔')|df1['상품명'].str.contains('아미')]
len(shoes)

84

In [195]:
# 총 개수
total = pd.concat([outer,shirt,pants,setup,shoes,etc],ignore_index=True)
total

                                        상품명        가격
0                            오버핏 비건레더 싱글 자켓   89,000원
1    N224MDW920 헤론 U넥 경량 다운 점퍼 CARBON BLACK  149,000원
2                            MA-1 레귤러 Black  279,000원
3                        릴렉스드 베이식 블레이저 [블랙]   81,900원
4                        버핑레더 오버핏 블루종_Black   69,900원
..                                      ...       ...
865                Turn me On Black - MOD1w   84,800원
866                         폴로 치노 베이스볼 캡-누벅   79,000원
867                              앱솔루트 백팩 블랙   79,000원
868                        버핑레더 문 슬링백_Black   39,900원
869                             TCM bgc cap   39,000원

[870 rows x 2 columns]

In [13]:
subs[['아우터','상의','하의','기타','한벌옷','신발']] = (259,339,124,50,14,84)
subs

        아우터   상의   하의  기타  한벌옷  신발
품목별판매량  259  339  124  50   14  84