In [1]:
# 라이브러리 임포트

import requests
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup

In [2]:
name_list=[]
price_list=[]
sell_price=[]

for i in range(1, 11):
    r = requests.get("https://www.musinsa.com/ranking/best?period=month&page=%s" % i)
    musinsa_raw_code = r.text
    parsed_code = BeautifulSoup(musinsa_raw_code)
    price_raw = parsed_code.find_all("p", class_="price")
    name_raw = parsed_code.find_all("p",class_="list_info")
#     count = 0
    
    for name in name_raw:
        try:
            name_list.append(name.find("a")['title'])
        except:
            pass
        
    for price in price_raw: 
#         count+=1
        if(price.find('del')):
            price.find('del').decompose()
            price_list.append(price.text.strip())
        else:
            price_list.append(price.text.strip())
    
    
    print("%s번째 페이지 조회 완료" % i)
    time.sleep(2)

1번째 페이지 조회 완료
2번째 페이지 조회 완료
3번째 페이지 조회 완료
4번째 페이지 조회 완료
5번째 페이지 조회 완료
6번째 페이지 조회 완료
7번째 페이지 조회 완료
8번째 페이지 조회 완료
9번째 페이지 조회 완료
10번째 페이지 조회 완료

In [3]:
len(name_list)

900

In [4]:
len(price_list)

900

In [5]:
# df1 = 상품명
n=[]
p=[]
for i in range(len(name_list)):
    n.append(i)
for j in range(len(price_list)):
    p.append(j)
df1 = pd.DataFrame(name_list,index=pd.Index(n),columns=['상품명'])
df1

                                                상품명
0                    (22FW) 2 TONE ARCH HOODIE GRAY
1                                  원턱 와이드 스웨트팬츠 그레이
2                  Deep One Tuck Sweat Pants [Grey]
3                      2WAY 스웻 후드 집업 (MELANGE GREY)
4                                  레플리카 퍼티그 팬츠 [카키]
..                                              ...
895  N224WFJ910 여성 코스토니 플리스 뽀글이 후드 풀집업 CARBON BLACK
896                                스웨트 팬츠 [멜란지 그레이]
897                oam.factory X PLAC  스텝 M22 미드 블루
898                                          Max_bl
899                                  아크 로고 후디 (네이비)

[900 rows x 1 columns]

In [6]:
# df2 = 가격
df2 = pd.DataFrame(price_list,index=pd.Index(p),columns=['가격'])
df2

           가격
0     67,150원
1     36,400원
2     39,000원
3     42,000원
4     43,900원
..        ...
895  159,000원
896   31,900원
897   89,000원
898  265,500원
899   59,040원

[900 rows x 1 columns]

In [7]:
# 상품명과 가격을 열 방향으로 로우를 기준으로 합침 axis=1
result = pd.concat([df1,df2],axis=1)
result.head()

                                상품명       가격
0    (22FW) 2 TONE ARCH HOODIE GRAY  67,150원
1                  원턱 와이드 스웨트팬츠 그레이  36,400원
2  Deep One Tuck Sweat Pants [Grey]  39,000원
3      2WAY 스웻 후드 집업 (MELANGE GREY)  42,000원
4                  레플리카 퍼티그 팬츠 [카키]  43,900원

In [ ]:
# csv 파일 저장
result.to_csv('product_nameprice.csv',encoding='cp949')