In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('product_nameprice.csv',encoding='cp949')
df.head()

   Unnamed: 0                               상품명       가격
0           0    (22FW) 2 TONE ARCH HOODIE GRAY  67,150원
1           1                  원턱 와이드 스웨트팬츠 그레이  36,400원
2           2  Deep One Tuck Sweat Pants [Grey]  39,000원
3           3      2WAY 스웻 후드 집업 (MELANGE GREY)  42,000원
4           4                  레플리카 퍼티그 팬츠 [카키]  43,900원

In [3]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
df.head()

                                상품명       가격
0    (22FW) 2 TONE ARCH HOODIE GRAY  67,150원
1                  원턱 와이드 스웨트팬츠 그레이  36,400원
2  Deep One Tuck Sweat Pants [Grey]  39,000원
3      2WAY 스웻 후드 집업 (MELANGE GREY)  42,000원
4                  레플리카 퍼티그 팬츠 [카키]  43,900원

In [5]:
df.index.rename('번호',inplace=True)

In [6]:
df.head()

                                 상품명       가격
번호
0     (22FW) 2 TONE ARCH HOODIE GRAY  67,150원
1                   원턱 와이드 스웨트팬츠 그레이  36,400원
2   Deep One Tuck Sweat Pants [Grey]  39,000원
3       2WAY 스웻 후드 집업 (MELANGE GREY)  42,000원
4                   레플리카 퍼티그 팬츠 [카키]  43,900원

In [7]:
pants = df[df['상품명'].str.contains('Pants')]
pants

                                               상품명       가격
번호
2                 Deep One Tuck Sweat Pants [Grey]  39,000원
52               Deep One Tuck Sweat Pants [Black]  39,000원
130           Wide String Cargo Slacks Pants Black  39,000원
160                     Classic Sweat Pants [Grey]  39,000원
277  Banding One Tuck Wide Denim Pants - Deep Blue  49,000원
439                    Classic Sweat Pants [Black]  39,000원
476         Deep One Tuck Sweat Pants [White Grey]  39,000원
526              Classic String Sweat Pants [Grey]  39,000원
558      Banding One Tuck Wide Denim Pants - Black  49,000원

In [8]:
pants = df[df['상품명'].str.contains('JEANS')|df['상품명'].str.contains('슬랙스')|df['상품명'].str.contains('팬츠')|df['상품명'].str.contains('Pants')|df['상품명'].str.contains('Cowboy')|df['상품명'].str.contains('조거')|df['상품명'].str.contains('jogger')]
len(pants)

116

In [9]:
shirt = df[df['상품명'].str.contains('HOODIE')|df['상품명'].str.contains('후드')|df['상품명'].str.contains('니트')|df['상품명'].str.contains('집업')|df['상품명'].str.contains('맨투맨')|df['상품명'].str.contains('반팔')|df['상품명'].str.contains('티셔츠')|df['상품명'].str.contains('셔츠')|df['상품명'].str.contains('가디건')|df['상품명'].str.contains('Sweat')|df['상품명'].str.contains('티')]
len(shirt)

332

In [10]:
outer = df[df['상품명'].str.contains('자켓')|df['상품명'].str.contains('점퍼')|df['상품명'].str.contains('블레이저')|df['상품명'].str.contains('블루종')|df['상품명'].str.contains('파카')|df['상품명'].str.contains('코트')|df['상품명'].str.contains('COAT')|df['상품명'].str.contains('푸퍼')|df['상품명'].str.contains('JACKET')|df['상품명'].str.contains('패딩')|df['상품명'].str.contains('가디건')|df['상품명'].str.contains('MA-1')|df['상품명'].str.contains('parka')|df['상품명'].str.contains('저지')|df['상품명'].str.contains('덕다운')|df['상품명'].str.contains('DUCK')]
len(outer)

247

In [11]:
setup= df[df['상품명'].str.contains('셋업')]
len(setup)

14

In [12]:
etc = df[df['상품명'].str.contains('백')|df['상품명'].str.contains('삭스')|df['상품명'].str.contains('팬티')|df['상품명'].str.contains('드로즈')|df['상품명'].str.contains('모자')|df['상품명'].str.contains('캡')|df['상품명'].str.contains('cap')|df['상품명'].str.contains('pack')]
len(etc)

39

In [13]:
shoes=df[df['상품명'].str.contains('척 70')|df['상품명'].str.contains('올드스쿨')|df['상품명'].str.contains('슈퍼스타')|df['상품명'].str.contains('첼시')|df['상품명'].str.contains('젤')|df['상품명'].str.contains('슈즈')|df['상품명'].str.contains('스타일 36')|df['상품명'].str.contains('데이브레이크')|df['상품명'].str.contains('운동화')|df['상품명'].str.contains('오즈위고')|df['상품명'].str.contains('스니커즈')|df['상품명'].str.contains('슬라이드')|df['상품명'].str.contains('BW')|df['상품명'].str.contains('어센틱')|df['상품명'].str.contains('1461')|df['상품명'].str.contains('xt-6')]
len(shoes)

78

In [14]:
total = pd.concat([outer,shirt,pants,setup,shoes,etc],ignore_index=True)
total

                                        상품명        가격
0                            오버핏 비건레더 싱글 자켓   89,000원
1    N224MDW920 헤론 U넥 경량 다운 점퍼 CARBON BLACK  149,000원
2                            MA-1 레귤러 Black  279,000원
3                        릴렉스드 베이식 블레이저 [블랙]   81,900원
4                        버핑레더 오버핏 블루종_Black   69,900원
..                                      ...       ...
821                      홀리데이 시그니처 볼 캡 [그린]   35,100원
822                         폴로 치노 베이스볼 캡-누벅   79,000원
823                              앱솔루트 백팩 블랙   79,000원
824                        버핑레더 문 슬링백_Black   39,900원
825                             TCM bgc cap   39,000원

[826 rows x 2 columns]

In [15]:
total['가격'] = total['가격'].str.replace('원','')
total['가격'] = total['가격'].str.replace(',','')

In [17]:
total['가격'] = total['가격'].astype('int')
total['가격'].mean()

96117.10653753027